@model OnlineShopSystem.Core.Models.Cart.ShoppingCartViewModel
@{
    ViewBag.Title = "My Shopping Cart";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">

            @if (!Model.Items.Any())
            {
                <p>Your shopping cart is empty.</p>
            }
            else
            {
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    </div>

                    <form asp-controller="ShoppingCart" asp-action="ClearCart">
                        <div class="mt-0">
                            <input type="submit" value="Clear Cart" class="btn btn-danger mb-2" />
                        </div>
                    </form>

                    @foreach (var book in Model.Items)
                    {
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="@book.ImageUrl"
                                             class="img-fluid rounded-3" alt="">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2"> @book.Title</p>
                                        <p class="text-muted mb-2">Author: @book.Author</p>
                                        <p class="text-muted mb-2">Rating: @book.Rating</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <button class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="1" type="number"
                                               class="form-control form-control-sm" />

                                        <button class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">$@book.Price</h5>
                                    </div>

                                    <form class="col-md-1 col-lg-1 col-xl-1 text-end" asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-bookId="@book.Id">
                                        <div class="d-grid gap-2">
                                            <input type="submit" onclick="myConfirm(event)" class="custom-delete-button" />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    }

                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 10vh;">
                        <div class="card">
                            <div class="card-body">
                                <div class="total-price">Total Price: $@Model.TotalPrice</div>
                                <button type="button" class="btn btn-warning btn-block btn-lg custom-button">Proceed to Pay</button>
                            </div>
                        </div>
                    </div>

                    <style>
                        .total-price {
                            font-size: 20px;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        .custom-button {
                            width: 1000px;
                            font-weight: bold;
                        }

                        .custom-delete-button {
                            display: inline-block;
                            background-image: url('https://cdn-icons-png.flaticon.com/128/542/542724.png');
                            background-size: contain;
                            text-indent: -9999px;
                            background-repeat: no-repeat;
                            width: 28px;
                            height: 28px;
                            border: none;
                            margin-right: 15px;
                        }
                    </style>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function myConfirm(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Removed!',
                        'Your book has been removed from your shopping cart.',
                        'success'
                    ).then((resultDeleted) => {
                        e.target.parentElement.parentElement.submit();
                    })
                }
            })
        }
    </script>
}

