@model OnlineShopSystem.Core.Models.Book.DetailsBookViewModel
@{
    ViewBag.Title = "Book Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Author: <b>@Model.Author</b></p>
            <p>Description: <b>@Model.Description</b></p>
            <p>
                Price:
                <b>$@Model.Price</b>
            </p>
            <p>Category: <b>@Model.Category</b></p>
            <div class="form-inline">

                <a class="btn btn-warning" asp-controller="Book" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>

                <a class="ml-2 btn btn-danger" onclick="myConfirm(event)" asp-controller="Book" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function myConfirm(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Cancel',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your book has been deleted.',
                        'success'
                    ).then((resultDeleted) => {
                        e.target.parentElement.parentElement.submit();
                    })
                }
            })
        }
    </script>
}
