@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnlineShopSystem.Core.Models.Book
@using System.Security.Claims
@model AllBookViewModel

<div class="card col-4" style="width: 20rem; ">
    <img class="card-img-top" style="width: 18rem;"
         src="@Model.ImageUrl" alt="Book Image">
    <div class="card-body">

        <h5 class="card-title mt-1">@Model.Title</h5>
        <p class="mb-0"><b>Author:</b> @Model.Author</p>
        <p class="mb-0"><b>Rating:</b> @Model.Rating</p>
        <p class="mb-0"><b>Price:</b> $@Model.Price</p>
        <p><b>Category:</b> @Model.Category</p>
    </div>

    <form class="text-centre col-md-4 offset-md-4" asp-controller="Book" asp-action="AddToFavorites" asp-route-id="@Model.Id">
        <input type="submit" value="Add to Favorites" class="fs-6 btn btn-outline-info mb-3 p-2" />
    </form>

    <div class="d-grid gap-2">
        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>
    </div>

    <form class="mt-2">
        <div class="d-grid gap-2">
        </div>
    </form>
    
    @if (User.IsInRole("Admin"))
    {
        <div class="d-grid gap-2">
            <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        </div>

        <form class="mt-2" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">
            <div class="d-grid gap-2">
                <input type="submit" onclick="myConfirm(event)" value="Delete" class="btn btn-danger mb-2" />
            </div>
        </form>
        
    }

    <form asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-bookId="@Model.Id">
        <div class="d-grid gap-2">
            <input type="submit" value="Add to Cart" class="btn btn-info mb-2" />
        </div>
    </form>
</div>


